html,
body{
    margin:0;
    width:100%;
    height:100%;
    overflow:hidden;
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;     /* Vertical center */

    font-family: Arial, Helvetica, sans-serif;
}
.container{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
}
#shareBtn{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:5px;

    padding:8px 16px;
    border:none;
    border-radius:10px;

    background:#25D366;
    color:#fff;

    font-size:16px;
    font-weight:400;
}

#shareBtn img{
    width:20px;
    height:20px;
}

.panel{
    width: min(70vw, 500px);
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,.15);
    z-index: 99999;
    display: none;
}

.panel.show{
    display: block;
}

.card-btn{
    width:100%;
    border:none;
    background:#fff;
    border-radius:15px;
    cursor:pointer;
    display:flex;
    align-items:center;
    gap:20%;
    padding:10px 10px;
    transition:.2s;
}

.card-btn:hover{
    background:#f5f5f5;
}

.card-btn img{
    width:clamp(55px,18vw,90px);
    aspect-ratio:1;
    object-fit:contain;
    border-radius:12px;
    flex-shrink:0;
}

.text{
    flex:1;
}

.text h3{
    font-size:clamp(18px,3vw,30px);
    margin-bottom:4px;
    text-align:left;
}

.text p{
    font-size:clamp(12px,2vw,18px);
    color:#777;
    text-align:left;
}

video {
    position: fixed !important;
}